#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<a class="btn btn-default" href="${symbol_dollar}!homeServer.getURI("demo/create.htm")">新建</a>

<table  class="table table-striped">
    <thead>
    <tr>
        <th> id</th>
        <th> name</th>
        <th> password</th>
        <th> gmtCreate</th>
        <th> amount</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    ${symbol_pound}foreach(${symbol_dollar}f in ${symbol_dollar}demoDOList)
        <tr>
            <td> ${symbol_dollar}!f.id</td>
            <td> ${symbol_dollar}!f.name</td>
            <td> ${symbol_dollar}!f.password</td>
            <td> ${symbol_dollar}!f.gmtCreate</td>
            <td> ${symbol_dollar}!f.amount</td>
            <td><a href="${symbol_dollar}!homeServer.getURI("demo/edit.htm").addQueryData('id',"${symbol_dollar}!f.id")">编辑</a></td>
            <td><a href="${symbol_dollar}!homeServer.getURI("demo/detail.htm").addQueryData('id',"${symbol_dollar}!f.id")">查看详情</a></td>
            <td><a href="${symbol_dollar}!homeServer.getURI("demo/doDelete.htm").addQueryData('id',"${symbol_dollar}!f.id")"
                   onclick="return confirm('确定删除吗?')">删除</a></td>
        </tr>
    ${symbol_pound}end
    </tbody>
</table>

${symbol_dollar}tile.load('home/common/page.vm').param('query',${symbol_dollar}query).param('path','demo/list.htm')

