<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE generatorConfiguration  
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"  
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">  
  
<generatorConfiguration>  
  <classPathEntry location="E:\oracle\product\10.2.0\db_1\jdbc\lib\ojdbc14.jar" />  
<context id="DB2Tables" targetRuntime="MyBatis3">  
  <commentGenerator>  
    <property name="suppressAllComments" value="true" />  
  </commentGenerator>  
  <jdbcConnection driverClass="oracle.jdbc.driver.OracleDriver"  
          connectionURL="jdbc:oracle:thin:@198.17.1.1:1521:ORCL"  
          userId="unuser"  
          password="password">  
  </jdbcConnection>  

  <javaTypeResolver >  
     <property name="forceBigDecimals" value="false" />  
  </javaTypeResolver>  
  <javaModelGenerator targetPackage="com.soft.model" targetProject="E:\WebWorkSpace\workspace_js\downAttachdemo\src">    
      <property name="enableSubPackages" value="true" />  
      <property name="trimStrings" value="true" />  
  </javaModelGenerator>  
    
  <sqlMapGenerator targetPackage="sqlmap"  targetProject="E:\WebWorkSpace\workspace_js\downAttachdemo\conf">  
       <property name="enableSubPackages" value="false" />  
  </sqlMapGenerator>  
    
  <javaClientGenerator type="XMLMAPPER" targetPackage="com.soft.mapping"  targetProject="E:\WebWorkSpace\workspace_js\downAttachdemo\src">  
    <property name="enableSubPackages" value="true" />  
  </javaClientGenerator>  
  <table schema="untodo" tableName="mocha_t_app" domainObjectName="MochaTodoApp" >  
    
  </table>  
</context>  
   
</generatorConfiguration>  