#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
新增

<form name="staffForm" action="${symbol_dollar}!homeServer.getURI("staff/doCreate.htm")" method="post">
  <table>
    ${symbol_pound}springBind("staffForm.id")
    <tr>
        <td>id</td>
        <td>
            <input type="text" name="${symbol_dollar}{status.expression}" value="${symbol_dollar}!status.value" />
            ${symbol_pound}foreach(${symbol_dollar}error in ${symbol_dollar}status.errorMessages) <b>${symbol_dollar}error</b>  ${symbol_pound}end
        </td>
    </tr>
    ${symbol_pound}springBind("staffForm.name")
    <tr>
        <td>name</td>
        <td>
            <input type="text" name="${symbol_dollar}{status.expression}" value="${symbol_dollar}!status.value" />
            ${symbol_pound}foreach(${symbol_dollar}error in ${symbol_dollar}status.errorMessages) <b>${symbol_dollar}error</b>  ${symbol_pound}end
        </td>
    </tr>
    ${symbol_pound}springBind("staffForm.password")
    <tr>
        <td>password</td>
        <td>
            <input type="text" name="${symbol_dollar}{status.expression}" value="${symbol_dollar}!status.value" />
            ${symbol_pound}foreach(${symbol_dollar}error in ${symbol_dollar}status.errorMessages) <b>${symbol_dollar}error</b>  ${symbol_pound}end
        </td>
    </tr>
    ${symbol_pound}springBind("staffForm.gmtCreate")
    <tr>
        <td>gmtCreate</td>
        <td>
            <input type="text" name="${symbol_dollar}{status.expression}" value="${symbol_dollar}!status.value" />
            ${symbol_pound}foreach(${symbol_dollar}error in ${symbol_dollar}status.errorMessages) <b>${symbol_dollar}error</b>  ${symbol_pound}end
        </td>
    </tr>
    ${symbol_pound}springBind("staffForm.amount")
    <tr>
        <td>amount</td>
        <td>
            <input type="text" name="${symbol_dollar}{status.expression}" value="${symbol_dollar}!status.value" />
            ${symbol_pound}foreach(${symbol_dollar}error in ${symbol_dollar}status.errorMessages) <b>${symbol_dollar}error</b>  ${symbol_pound}end
        </td>
    </tr>

	  <tr>
	  <td colspan="2">
	  <input type="submit" value="提交"/></td>
	  </tr>
  </table>
</form>