新增

<form name="${doNameLower}Form" action="_!homeServer.getURI("${doNameLower}/doCreate.htm")" method="post">
  <table>
#foreach($v in $doFieldList)
    _springBind("${doNameLower}Form.$v.name")
    <tr>
        <td>$v.cnName</td>
        <td>
            <input type="text" name="${status.expression}" value="_!status.value" />
            _foreach($error in $status.errorMessages) <b>$error</b>  _end
        </td>
    </tr>
#end

	  <tr>
	  <td colspan="2">
	  <input type="submit" value="提交"/></td>
	  </tr>
  </table>
</form>