package com.foodoon.${appName}.web.form;

import java.util.Date;

import javax.validation.constraints.Size;

import org.hibernate.validator.constraints.NotEmpty;

import com.foodoon.${appName}.dao.domain.${doName}DO;
import com.sun.istack.internal.NotNull;

public class ${doName}Form {
   #foreach($v in $doFieldList)
   #if(!$v.canNull)
   #if("String" == $v.typeName)
   @NotEmpty(message = "{不能为空}")
   #else
   @NotNull #end
   #end
   private $v.typeName $v.name;

   #end
#foreach($v in $doFieldList)
    public $v.typeName get${v.upperName}() {
        return $v.name;
    }
    public void set${v.upperName}($v.typeName $v.name) {
        this.$v.name = $v.name;
    }
#end

    public ${doName}DO toDO(){
${doName}DO ${doNameLower}DO  = new ${doName}DO();
#foreach($v in $doFieldList)
    #if($v.name != 'id')
        ${doNameLower}DO.set${v.upperName}(this.${v.name});
    #end
#end
    return ${doNameLower}DO;
    }

}
