package com.foodoon.${appName}.biz;

import com.foodoon.${appName}.dao.domain.${doName}DO;
import com.foodoon.tools.web.page.BaseQuery;
import com.foodoon.tools.web.page.BizResult;

public interface ${doName}Biz {

        BizResult detail(int id);

        BizResult list(BaseQuery baseQuery);

        BizResult delete(int id);

        BizResult create(${doName}DO ${doNameLower}DO);

        BizResult update(${doName}DO ${doNameLower}DO);

}
